$auto: auto;
$dim: 50px;
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading_spinner {
  margin-left: $auto;
  margin-right: $auto;
  margin-top: 40px;
  width: $dim;
  height: $dim;
  border: 10px solid #f10505;
  border-top: 10px solid #791f1f;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
